body {
    background-color: lightgray;
}

h4 {
    color: red;
}

#duckContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.duck {
    width: 350px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

.duck img {
    width: 300px;
}